<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="skillpro.rcp.layout.MyGraphicalEditor"
            contributorClass="skillpro.rcp.layout.MyGraphicalEditorActionBarContributor"
            default="true"
            id="skillpro.rcp.layout.MyGraphicalEditor"
            name="Editor">
      </editor>
   </extension>

</plugin>
